<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ("partials/header") %>
    <title>Home</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="page_title">
      <h1>登入系統</h1>
      <!-- <p>
        (With EJS, MongoDB Atlas, Passport.js, Authentication, OAuth(Google
        Login Setup) and other examples.)
      </p> -->
    </div>
    <div class="posts_wrapper">
      <% if (posts.length > 0) { for (let i = 0; i < posts.length; i++) { %>
      <a class="home_posts" href="/singlepost/<%= posts[i]._id %>">
        <% if (allUsers.length > 0) { for (let j = 0; j < allUsers.length; j++)
        { %> <% if(posts[i].author === allUsers[j].name) { %>
        <div class="posts_user">
          <img
            src="<%= allUsers[j].avatar ? `/images/${allUsers[j].avatar}`: allUsers[j].thumbnail %>"
            alt=""
          />
          <p><%= posts[i].author %></p>
        </div>
        <% } %> <% } } %>
        <div class="posts_lists">
          <h3><%= posts[i].title %></h3>
          <p><%= posts[i].content.substring(0,20) %>...</p>
        </div>
      </a>
      <% } } %>
    </div>
  </body>
</html>
